@import "tailwindcss";


.menu-toggle {
    display: none;
}



@media screen and (max-width:950px) {
    .navbar {
        width: 80%;
        height: 100vh;
        background: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        flex-direction: column;
        position: absolute;
        top: 98%;
        right: -100%;
        transition: 0.5s ease;
    }

    .activenavbar {
        right: 0;
        transition: 0.5s ease;
    }

    .navbar a {
        font-size: 1.5rem;
        margin-top: 30px;
    }

    .menu-toggle {
        display: block;
    }
}