@import "tailwindcss";


.menu-toggle {
    display: none;
}

#loader {
    width: 100vw;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.dot {
    width: 50px;
    height: 50px;
    background-color: #fff;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);

    span {
        color: #000;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        opacity: 0;
        transform: scale(0);
    }
}


@media screen and (max-width:950px) {
    .navbar {
        width: 80%;
        height: 100vh;
        background: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        flex-direction: column;
        position: absolute;
        top: 98%;
        right: -100%;
        transition: 0.5s ease;
    }

    .activenavbar {
        right: 0;
        transition: 0.5s ease;
    }

    .navbar  a {
        font-size: 1.5rem;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu-toggle {
        display: block;
    }
}